<div class="py-5"></div>
<div>
  <div class="text-center" *ngIf="show">
    <p class="">You dont have any acive advertisement right now</p>
    <p class="">Create One?</p>
  </div>
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary btn-lg rounded-pill m-5 fw-bolder" href="/ads/post"
      >Post a Product</a
    >
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-12 col-xl-10">
      <div class="card shadow-0 border rounded-3">
        <div class="card-body">
          <div *ngFor="let ad of data">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img [src]="ad.imgUrl" class="w-100" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div
                        class="mask"
                        style="background-color: rgba(253, 253, 253, 0.15)"
                      ></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>{{ ad.title }}</h5>
                <p class="text-truncate mb-4 mb-md-0">{{ ad.body }}</p>
              </div>
              <div
                class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none order-first"
              >
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">{{ ad.price | currency }}</h4>
                </div>
                <h6 *ngIf="ad.active; else ad_inactive" class="text-primary">
                  Status: active
                </h6>
                <ng-template #ad_inactive>
                  <h6 class="text-muted">Status: not active</h6>
                </ng-template>

                <h6 *ngIf="unanswerdCountByAdsId.has(ad.adsId)">
                  <span
                    *ngIf="0 < unanswerdCountByAdsId.get(ad.adsId)!"
                    class="text-danger"
                  >
                    {{ unanswerdCountByAdsId.get(ad.adsId) }} unanswered
                    questions
                  </span>
                </h6>

                <div class="d-flex flex-column mt-4">
                  <a
                    class="btn btn-outline-primary btn-sm mt-2"
                    href="ads/{{ ad.adsId }}"
                  >
                    Details
                  </a>
                  <a
                    class="btn btn-primary btn-sm mt-2"
                    href="ads/edit/{{ ad.adsId }}"
                  >
                    Edit
                  </a>

                  <button
                    *ngIf="ad.active"
                    (click)="disable(ad.adsId)"
                    class="btn btn-outline-danger btn-sm mt-2"
                  >
                    Disable
                  </button>

                  <button
                    *ngIf="!ad.active"
                    (click)="activate(ad.adsId)"
                    class="btn btn-success btn-sm mt-2"
                  >
                    Activate
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
