<div class="py-3"></div>
<div class="">
  <section class="vh-80 bg-image"
  style="
      background-image: url('https://wallpapercave.com/wp/wp6942356.png');
      width: 100%;
      height:auto;
    "
  >
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-4">
          <img src="/assets/images/logo.png" class="img-fluid" alt="logo" />
        </div>
        <p class="text-center fs-3 text-danger">{{ caution }}</p>
        <div class="col-md-8 col-lg-6 col-xl-4">
          <form id="login" #loginForm="ngForm" (ngSubmit)="login()">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                #username="ngModel"
                [(ngModel)]="loginInfo.username"
                type="text"
                name="username"
                class="form-control form-control-lg"
                placeholder="Username"
              />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input
                #password="ngModel"
                [(ngModel)]="loginInfo.password"
                type="password"
                name="password"
                class="form-control form-control-lg"
                placeholder="Enter password"
              />
            </div>

            <div class="d-flex justify-content-center">
              <button
                type="submit"
                class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
              >
                Login
              </button>
            </div>

              <p class="text-center text-muted mt-5 mb-0 fw-bold">
                Don't have an account?
                <a href="/user/register" class="link-danger">Register</a>
              </p>

          </form>
        </div>
      </div>
    </div>
  </section>
</div>
