<div class="">
  <section class="vh-80">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="/assets/images/logo.png" class="img-fluid" alt="logo" />
        </div>
        <p class="text-center fs-3 text-danger">{{ caution }}</p>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form id="login" #loginForm="ngForm" (ngSubmit)="login()">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                #username="ngModel"
                [(ngModel)]="loginInfo.username"
                type="text"
                name="username"
                class="form-control form-control-lg"
                placeholder="Username"
              />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <input
                #password="ngModel"
                [(ngModel)]="loginInfo.password"
                type="password"
                name="password"
                class="form-control form-control-lg"
                placeholder="Enter password"
              />
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button
                type="submit"
                class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
              >
                Login
              </button>
              <p class="small fw-bold mt-2 pt-1 mb-0">
                Don't have an account?
                <a href="/user/register" class="link-danger">Register</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
