<div>
  <div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <div class="images p-3">
                <div class="text-center p-2">
                  <img id="main-image" [src]="ad?.imgUrl" width="350" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="product p-4">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <a href="/ads">
                      <i class="fa fa-long-arrow-left"></i>
                      <span class="ml-1">Back</span>
                    </a>
                  </div>
                </div>
                <div class="mt-4 mb-3">
                  <h5 class="text-uppercase">
                    {{ ad?.title }}
                  </h5>
                  <div class="price d-flex flex-row align-items-center">
                    <span class="text-success fs-5">
                      {{ ad?.price | currency }}
                    </span>
                  </div>
                  <p class="fs-4">
                    Delivery Method:
                    <span class="text-primary">{{ ad?.deliveryMethod }}</span>
                  </p>
                </div>
                <p class="fs-4">{{ ad?.body }}</p>
                <p></p>
                <div
                  *ngIf="user && user.username === ad?.username"
                  class="d-flex gap-4"
                >
                  <!-- Edit Button -->
                  <div>
                    <a
                      href="/ads/edit/{{ ad?.adsId }}"
                      class="btn btn-primary btn-xl rounded-pill"
                    >
                      Edit
                    </a>
                  </div>
                  <!-- Disable / Activate Button -->
                  <div>
                    <a
                      *ngIf="ad?.active; else showActivate"
                      (click)="disable()"
                      class="btn btn-danger btn-xl rounded-pill"
                    >
                      Disable
                    </a>
                    <ng-template #showActivate>
                      <a
                        (click)="activate()"
                        class="btn btn-success btn-xl rounded-pill"
                      >
                        Activate
                      </a>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <!-- Q&A -->
            <app-questions [user]="user"></app-questions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
